datasets
einops
flax
ipykernel
ipywidgets
jaxtyping
numpy
optax
pandas
pytest
pytest-mock
scipy
tqdm
transformers
nbconvert
# The following packages are required for circuitsvis
# but are not required for the core library.
snapshottest
# for examples
plotly